<!DOCTYPE html>
<html>
  <head>
    <%= css :reset %>
    <%= css :header %>
    <%= css @css_files %>
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>

    <header>
      <div class="header-container">
        <span class='left-links'>
          <a href="/" class="home-link">
            ECO Firm
          </a>
        </span>
        <span class='right-links'>
          <a href="/about" class="link">
            About Us
          </a>
          <a href="/pricing" class="link">
            Pricing
          </a>
        </span>
      </div>
    </header>

    <div class="page-content">
      <% if !@message.nil? && @message != "" %>
          <div id="page-message">
          <div class="text">
            <%= @message %>
          </div>
          </div>
      <% end %>
      <%= yield %>
    </div>

    <footer>
      <div class="footer-container">
        <a href="/" class="home-link link">
          ECO Firm
        </a>
        <a href="/about" class="link">
          About
        </a>
        <a href="/pricing" class="link">
          Pricing
        </a>
      </div>
    </footer>

  </body>
</html>

